/* filepath: /Users/sophiaochabauer/Desktop/PortfolioWebsite/Portfolio/css/Bio.css */
@font-face {
    font-family: 'Sofi';
    src: url('css/Fonts.css/Sofi-Regular.ttf') format('truetype');
}

body {
    font-family: 'Sofi', sans-serif;
}