@font-face {
	font-family: 'Sofi';
	src: url('../assets/Sofi-Regular.ttf');
}

body {
	font-family: 'Sofi', sans-serif;
}

pre {
	font-family: 'Sofi', sans-serif;
	font-size: 30px;
}
h1 {
	font-family: 'Sofi', sans-serif;
}